# Entorno de variables sensibles (Llaves API y Secretos)
.env
.env.local
.env.*.local

# Entornos virtuales de Python
venv/
env/
ENV/
.venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE / Editores de código
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema operativo
.DS_Store
Thumbs.db
